*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Quicksand', sans-serif;
	list-style: none;
	text-decoration: none;
	scroll-behavior: smooth;
}

:root{
	--bg-color: #020312;
	--text-color: #fff;
	--main-color: #eb4a4a;
	--second-color: gray;
	--other-color: #12141c;
	--h1-font: 5.2rem;
	--h2-font: 3.5rem;
	--p-font: 1.1rem;
}
body{
	background: var(--bg-color);
	color: var(--text-color);
    cursor: progress; 
}
header{
	position: fixed;
	right: 0;
	top: 0;
	width: 100%;
	z-index: 1000;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: transparent;
	padding: 22px 16%;
	border-bottom: 1px solid transparent;
	transition: all .40s ease;
}
.logo img{
	width: 135px;
	height: auto;
}
.navbar{
	display: flex;
}
.navbar a{
	color: var(--text-color);
	font-size: var(--p-font);
	font-weight: 600;
	padding: 10px 25px;
	margin: 0 2px;
	border-radius: 0.5rem;
	transition: all .40s ease;
}
.navbar a:hover{
	background: var(--main-color);
	color: var(--text-color);
}
#menu-icon{
	font-size: 36px;
	color: var(--text-color);
	z-index: 10001;
	 cursor: pointer; 
	 
	display: none;
}

section{
	padding: 160px 16% 90px;
}
.home{
	height: 100vh;
	width: 100%;
	position: relative;
	background: url(../images/dev.jpg);
	background-size: cover;
	background-position: center;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	
}
.home-text h1{
	margin: 20px 0;
	font-size: var(--h1-font);
	font-weight: bold;
	line-height: 1.1;
	letter-spacing: 2px;
}
span{
	color: var(--main-color);
}
.home-text h4{
	color: var(--main-color);
	font-size: 24px;
	font-weight: 600;
}
.home-text h3{
	font-size: 24px;
	font-weight: 600;
	margin-bottom: 3rem;
}

header.sticky{
	padding: 10px 16%;
	background: var(--bg-color);
	border-bottom: 1px solid #0e1630;
}
.about{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	align-items: center;
	gap: 2rem;
	background-image: url(../images/dark.jpeg);
	background-repeat: no-repeat;
	background-size: cover;
}
.glow {
  box-shadow: 0 0 5px 5px rgba(255, 255, 255, 0.5);
}
.about-text h4{
	margin: 10px 0;
	color: var(--main-color);
	font-size: 20px;
	font-weight: 600;
}
.about-text h2{
	font-size: var(--h2-font);
	color: orangered;
}
.about-text p{
	color: var(white);
	font-size: var(--p-font);
	line-height: 30px;
	margin-bottom: 2rem;
}


.about-img img{
	height: 25rem;
	width: 100%;
	max-width: 460px;
	animation: bounce 1.5s infinite;
	transition: 4s;
	 filter: 100%; 
	 margin-left: 4rem;
	
	border-radius: 15%;
   
	   }
	 @keyframes bounce{
	   0%{
		   transform: translate(0, 4px);
	   }
   
	   50%{
		   transform: translate(0, 8px);
	   }
	 }   */



.main-text{
	text-align: center;
}
.main-text h2{
	font-size: var(--h2-font);
	margin-bottom: 10px;
	margin-left: 22rem;
}
.main-text h4{
	color: var(--main-color);
	font-size: 24px;
	font-weight: 600;
	margin-left: 22rem;
}
.services-content{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, auto));
	align-items: center;
	text-align: center;
	gap: 2rem;
	margin-top: 5rem;
}
.btn{
	border-radius: 8rem;
	color: #f8f4f4;
	padding: 1rem;
	background-color: #eb4a4a;

}

.box1{
	padding: 105px;
	background: #12141c;
	border-top: 5px solid transparent;
	border-radius: 0.5rem;
	transition: all .40s ease;
	cursor: pointer;
	border: 2px solid whitesmoke;
	
	
}
.box1 img{
width: 20rem;
animation: bounce 1.5s infinite;
transition: 1s;
transform-style: preserve-3d;
margin-left: -5rem;	
}

.box2{
	padding: 44px;
	background: #12141c;
	border-top: 5px solid transparent;
	border-radius: 0.5rem;
	transition: all .40s ease;
	cursor: pointer;
	border: 2px solid whitesmoke;
	
}

.box2 img{
	width: 20rem;	
	animation: bounce 1.5s infinite;
    transition: 1s;
    transform-style: preserve-3d;
	}

	.box3{
		padding: 103px;
		background: #12141c;
		border-top: 5px solid transparent;
		border-radius: 0.5rem;
		transition: all .40s ease;
		cursor: pointer;
		border: 2px solid whitesmoke;

		
	}
	.box3 img{
		width: 21rem;
		animation: bounce 1.5s infinite;
		transition: 1s;
		transform-style: preserve-3d;
		margin-left: -5rem;	
		text-align: center;	
		}
	

.box h3{
	font-size: 24px;
	font-weight: 600;
	margin: 15px 0;
	transition: all .40s ease;
}
.box p{
	color: var(--second-color);
	font-size: var(--p-font);
	line-height: 30px;
}
.box:hover{
	transform: scale(1.01) translateY(-5px);
	border-top: 5px solid var(--main-color);
}
.box:hover h3{
	color: var(--main-color);
}

.box4{
	padding: 103px;
	background: #12141c;
	border-top: 5px solid transparent;
	border-radius: 0.5rem;
	transition: all .40s ease;
	cursor: pointer;
    border: 2px solid whitesmoke;
	
}
.box4 img{
	width: 23rem;
	animation: bounce 1.5s infinite;
	transition: 1s;
	transform-style: preserve-3d;
	margin-left: -5rem;	
	text-align: center;	
	}


.box h4{
font-size: 24px;
font-weight: 600;
margin: 15px 0;
transition: all .40s ease;
}
.box p{
color: var(--second-color);
font-size: var(--p-font);
line-height: 30px;
}
.box:hover{
transform: scale(1.01) translateY(-5px);
border-top: 5px solid var(--main-color);
}
.box:hover h4{
color: var(--main-color);
}

.box5{
	padding: 105px;
	background: #12141c;
	border-top: 5px solid transparent;
	border-radius: 0.5rem;
	transition: all .40s ease;
	cursor: pointer;
	border: 2px solid whitesmoke;
	
}
.box5 img{
width: 23rem;
animation: bounce 1.5s infinite;
transition: 1s;
transform-style: preserve-3d;
margin-left: -5rem;	
}

/*  */
.box6{
	padding: 105px;
	background: #12141c;
	border-top: 5px solid transparent;
	border-radius: 0.5rem;
	transition: all .40s ease;
	cursor: pointer;
	border: 2px solid whitesmoke;
	
}

.box6 img{
width: 23rem;
animation: bounce 1.5s infinite;
transition: 1s;
transform-style: preserve-3d;
margin-left: -5rem;	
}
.portfolio-content{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(350px, auto));
	align-items: center;
	gap: 2rem;
	margin-top: 5rem;
	
}
.portfolio{
	background: url(../images/bg.jpg);
}
.row img{
	height: auto;
	width: 100%;
	border-radius: 0.5rem;
	margin-bottom: 1.5rem;
}
.row-1:hover{
	padding: 50px;
	background-image: url(../images/food.jpg);
	background-size: cover;
	background-position: center center;
	background-attachment: local;
	border-radius: 0.5rem;
	transition: all 0.5s ;  
}
.card-footer a .btn{
	margin: 1rem 
}
.row-1, .row-2, .row-3, .row-4,  .row-5, .row-6,  .row-7 {
	width: 20rem;
	height: 20rem;
	background-color: rgb(134, 133, 133);
	border-radius: 15px;
	display: block;
	align-items: center;
	justify-content: center;
	padding: 1rem 1rem 1rem 2rem ;
	box-shadow: 10px 10px 10px 10px black;
}

.row-2:hover:hover{
	padding: 50px;
	background-image: url(../images/clocky.jpg);
	background-size: cover;
	background-position: center center;
	background-attachment: local;
	border-radius: 0.5rem;
	transition: all 0.5s ;
}

.row-3:hover{
	padding: 50px;
	background-image: url(../images/calculators.png);
	background-size: cover;
	background-position: center center;
	background-attachment: local;
	border-radius: 0.5rem;
	transition: all 0.5s ;
}

.row-4:hover{
	padding: 50px;
	background-image: url(../images/beauty-web.webp);
	background-size: cover;
	background-position: center center;
	background-attachment: local;
	border-radius: 0.5rem;
	transition: all 0.5s ;
}

.row-5:hover{
	padding: 50px;
	background-image: url(../images/recorder.jpg);
	background-size: cover;
	background-position: center center;
	background-attachment: local;
	border-radius: 0.5rem;
	transition: all 0.5s ;
}
.row-6:hover{
	padding: 50px;
	background-image: url(../images/to-do.jpg);
	background-size: cover;
	background-position: center center;
	background-attachment: local;
	border-radius: 0.5rem;
	transition: all 0.5s ;
}

.row-7:hover{
	padding: 50px;
	background-image: url(../images/wakanda.jpg);
	background-size: cover;
	background-position: center center;
	background-attachment: local;
	border-radius: 0.5rem;
	transition: all 0.5s ;
}

.main-row{
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 1rem;
}
.row h3{
	font-size: 25px;
	font-weight: 700;
}
.row h6{
	color: var(--main-color);
	font-size: 16px;
	font-weight: 500;
	letter-spacing: 1px;
}
.row-icon i{
	font-size: 21px;
}
.row:hover{
	transform: scale(1.01) translateY(-5px);
	cursor: pointer;
}

.contact{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	align-items: center;
	gap: 3rem;
	background: url(../images/mop.webp);
}
.contact-text h4{
	margin: 15px 0;
	color: var(--main-color);
	font-size: 20px;
	font-weight: 600;
}
.contact-text h2{
	font-size: var(--h2-font);
}
.contact-text p{
	color: var(--second-color);
	font-size: var(--p-font);
	line-height: 30px;
	margin-bottom: 2rem;
}
.contact-list{
	margin-bottom: 3rem;
}
.contact-list li{
	margin-bottom: 10px;
	display: block;
}
.contact-list li a{
	display: block;
	color: var(--second-color);
	font-size: var(--p-font);
	font-weight: 600;
	transition: all .40s ease;
}
.contact-list li a:hover{
	transform: scale(1.01) translateY(-5px);
	color: var(--main-color);
}
.contact-icons i{
	height: 40px;
	width: 40px;
	background: #12141c;
	border-radius: 0.5rem;
	color: var(--main-color);
	display: inline-flex;
	align-items: center;
	justify-content: center;
	font-size: 18px;
	margin-right: 10px;
	transition: all .40s ease;
}
.contact-icons i:hover{
	transform: scale(1.01) translateY(-5px);
	color: var(--text-color);
	background: var(--main-color);
}

.contact-form form{
	position: relative;
}
.contact-form form input,
form textarea{
	border: none;
	outline: none;
	width: 100%;
	padding: 18px;
	background: #12141c;
	color: var(--text-color);
	font-size: 1rem;
	font-weight: 600;
	margin-bottom: 0.5rem;
	border-radius: 0.5rem;
}
.contact-form textarea{
	resize: none;
	height: 220px;
}
.contact-form form .send{
	display: inline-block;
	font-size: 17px;
	font-weight: 500;
	background: var(--main-color);
	color: var(--text-color);
	width: 190px;
	transition: all .40s ease;
	cursor: pointer;
}

.last-text p{
	text-align: center;
	padding: 15px;
	color: var(--second-color);
	font-size: 15px;
	font-weight: 600;
	letter-spacing: 1px;
}
.top{
	position: fixed;
	bottom: 2.1rem;
	right: 2.1rem;
}
.top i{
	color: var(--text-color);
	background: var(--main-color);
	font-size: 20px;
	padding: 10px;
	border-radius: 0.5rem;
}

@media (max-width: 1325px){
	header{
		padding: 16px 3%;
	}
	header.sticky{
		padding: 8px 3%;
	}
	section{
		padding: 130px 3% 60px;
	}
}

@media (max-width: 970px){
	:root{
		--h1-font: 4.2rem;
	  --h2-font: 2.9rem;
	  --p-font: 1rem;
	}
	section{
		padding: 70px 3% 60px;
	}
	.home{
		height: 85vh;
	}
	.about{
		grid-template-columns: 1fr;
	}
	.about-img{
		text-align: center;
	}
	.contact{
		grid-template-columns: 1fr;
	}
}

@media (max-width: 830px){
	#menu-icon{
		display: block;
	}
	.navbar{
		position: absolute;
		top: -600px;
		right: 0;
		left: 0;
		display: flex;
		flex-direction: column;
		background: #12141c;
		text-align: left;
		transition: all .40s ease;
	}
	.navbar a{
		display: block;
		padding: 1rem;
		margin: 1rem;
	}
	.navbar.active{
		top: 100%;
	}
	:root{
		--h1-font: 3.7rem;
	  --h2-font: 2.7rem;
	}
	
}